@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif;
}

a {
    color: inherit;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

figure {
    margin: 0px !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    background-color: #f5f5f5;
    /* height: 1000vh; */
}

:root {
    --PrimeColor: #2b2d42;
    --PrePrimeColor: #8d99ae;
    --SecondaryColor: #ef233c;
}

.Main-Margin {
    margin-top: 30px;
}

.Common-Margin {
    margin-top: 20px;
}

/* --- --- --- Header --- --- --- */
/* box-shadow: 0px 2px 3px 0px rgba(43, 45, 66, 0.2); */
header {
    padding: 1% 0;
    background-color: var(--PrimeColor);
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 30px;
}

header nav ul li:last-child {
    margin-right: 0px;
}

header nav ul li a {
    transition: all 0.3s;
}

header nav ul li a:hover {
    color: var(--PrePrimeColor);
}

/* --- --- --- Topic --- --- --- */
.Topic p {
    background-color: var(--PrimeColor);
    color: #fff;
    padding: 0.5% 1%;
    width: fit-content;
    border-left: 10px solid var(--SecondaryColor);
}


.EventsCard .Event {
    background-color:#c8c8c871;
    color: #000;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    transition: all 0.3s linear;
    border-left: 10px solid var(--PrimeColor);
}

.EventsCard .Event:hover {
    box-shadow: 0px 2px 3px 0px rgba(43, 45, 66, 0.2);
}

.EventsCard .Event figcaption h2 {
    font-weight: 600;
    color: var(--PrimeColor);
}

.EventsCard .Event figcaption li {
    margin: 10px 0;
}

.EventsCard .Event figcaption li span {
    color: var(--PrePrimeColor);
    font-weight: 500;
}


/* --- --- --- Footer --- --- --- */
footer {
    background-color: #c8c8c871;
    color: #000;
    padding: 2% 0%;
    text-align: center;
    border-bottom: 15px solid var(--PrimeColor);
}

footer h2 {
    font-weight: 500;
}

footer h2 span {
    color: var(--PrePrimeColor);
}

footer p {
    padding-top: 1%;
    font-weight: 500;
}